<div class="center">
  <h1>
    {{getTitle()}}
</h1>
</div>

<div class="center" >
  <mat-grid-list [cols]="NUM_COL" rowHeight="80" gutterSize="10px">
    <mat-grid-tile *ngFor="let dispbox of displays">
      <app-display-box></app-display-box>
    </mat-grid-tile>
  </mat-grid-list>  
</div>

<div class = "center" style="height: 100px;">

</div>

<div class="center" style="height:50px">
  <mat-grid-list [cols]="getKeyCountInRows(0)" rowHeight="4:2" gutterSize="10px">
    <mat-grid-tile *ngFor="let kb of getKeysInRow(0)">
      <app-keyboard-button 
        [keyButtonInfor] = kb
        (clicked)="OnClicked($event)"
      >
      </app-keyboard-button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="center" style="height:50px; width: 57%;">
  <mat-grid-list [cols]="getKeyCountInRows(1)" rowHeight="4:2" gutterSize="10px">
    <mat-grid-tile *ngFor="let kb of getKeysInRow(1)">
      <app-keyboard-button 
        [keyButtonInfor] = kb
        (clicked)="OnClicked($event)"
      ></app-keyboard-button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="center" style="height:50px;">
  <mat-grid-list [cols]="getKeyCountInRows(2)" rowHeight="4:2" gutterSize="10px">
    <mat-grid-tile *ngFor="let kb of getKeysInRow(2)">
      <app-keyboard-button 
        [keyButtonInfor] = kb
        (clicked)="OnClicked($event)"
      ></app-keyboard-button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

