:host[data-mode='default'] {
    height: 100%;
    width: 100%;
}

:host[data-mode='letter-pos-correct'] {
    height: 100%;
    width: 100%;
    background: #70a964;
    color: white;
  }

  :host[data-mode='letter-correct-only'] {
    height: 100%;
    width: 100%;
    background: #c4b45b;
    color: white;
  }

  :host[data-mode='not-correct'] {
    height: 100%;
    width: 100%;
    background: #787c7f;
    color: white;
  }

.display_box {
    color: rgb(97, 40, 40);
    font-size:xx-large;
    font-weight: bolder;
    user-select: none;
    height: 100%; 
    width: 100%; 
    text-align: center;
}